# Objektdateien und ausführbare Dateien
*.o
*.obj
*.exe
*.out
*.app

# Bibliotheken
*.lib
*.dll
*.so
*.dylib
*.a

# Build-Ordner
build/
bin/
Debug/
Release/

# VSCode-Einstellungen
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Temporäre Dateien
*.log
*.tmp
*.temp

# Backup und Swap-Dateien
*~
*.swp
